h2, 
p {
  color: #555;
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #0087cc;
}

a:hover {
  color: #ff7b29;
}

h2 {
  font: bold 22px;
  margin-bottom: 6px;
}

.byline {
  color: #9799a7;
  font: italic Georgia, Times, "Times New Roman", serif;
  margin-bottom: 18px;
}